<ion-header class="ion-no-border">
  <page-header>

    <table style="width: 100%;">
      <tr>
        <td style="width: 40%">
          <table>
            <tr>
              <td style="width: 10px"></td>
              <td>
                <div class="menubuttonclass"
                     (mouseenter)="HomeMouseOver = true"
                     (mouseleave)="HomeMouseOver = false"
                     (click)="HomeButtonClicked()">
                  <table class="paddingsmalltable">
                    <tr>
                      <td>
                        <ion-icon name="home-outline"
                                  [color]="HomeMouseOver ? Basics.Ionicfarben.Schwarz : Basics.Ionicfarben.Weiss">
                        </ion-icon>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 6px;"></td>
              <td style="height: 52px; font-size: 120%; font-weight: bold;" valign="middle">
                Schenllaufgaben
              </td>
            </tr>
          </table>
        </td>
        <td style="width: 20%" align="center">

        </td>
        <td style="width: 40%;"></td>
      </tr>
    </table>

  </page-header>
</ion-header>
<ion-content>

  <div [style.width.px]="Contentbreite" [style.height.px]="Contenthoehe" class="contentdivclass">

    <ng-container *ngFor="let zi of [].constructor(Zeilenanzahl); let Zeilenindex = index">
      <ng-container *ngFor="let si of [].constructor(Spaltenanzahl); let Spaltenindex = index" [style.width.%]="100 /Spaltenanzahl">
        <div  *ngIf="CheckProjekt(Zeilenindex, Spaltenindex)" style="padding: 4px;" [style.width.px]="(Contentbreite / 2) - 8">
          <div style="border: 2px solid gray; border-radius: 8px; padding: 4px; width: 100%; height: 100%">
            <table style="width: 100%">
              <tr>
                <td>

                  <table class="nobordertable" style="width: 100%">
                    <tr>
                      <td style="width: 40px;">
                        <div class="projecticonclass" [style.background]="DBProjekte.GetProjektfarbeByProjekt(Projekteliste[Zeilenindex][Spaltenindex])"></div>
                      </td>
                      <td style="width: auto;">
                        <ion-text color="baeblau" style="font-size: 120%"><b>{{GetProjektname(Zeilenindex, Spaltenindex)}}</b></ion-text>
                      </td>
                      <td style="width: 60px;">
                        <ion-button size="small" color="grau" (click)="AddAufgabeClicked(Projekteliste[Zeilenindex][Spaltenindex], Zeilenindex, Spaltenindex)">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </ion-button>
                      </td>
                    </tr>
                  </table>


                </td>
              </tr>
              <ng-container *ngIf="Schnellaufgabenliste[Projekteliste[Zeilenindex][Spaltenindex].Projektkey].length > 0">
                <tr>
                  <td style="height: 12px;" valign="middle">
                    <div style="width: 100%; height: 2px; background: gray;"></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="1" style="width: 100%" class="paddingsmalltable">
                      <tr *ngFor="let Eintrag of Schnellaufgabenliste[Projekteliste[Zeilenindex][Spaltenindex].Projektkey]">
                        <td style="width: 60px; text-align: center">{{GetDatum(Eintrag.Startzeitsptempel)}}</td>
                        <td style="width: 40px; text-align: center">{{GetUhrzeit(Eintrag.Startzeitsptempel)}}</td>
                        <td style="width: auto">
                          <div class="aufgabedivclass" [innerHTML]="Eintrag.Aufgabe | safe: 'html'"></div>
                        </td>
                        <td style="width: 40px;">
                          <div class="statusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Eintrag)">
                            <checkbox-clon [Checked]="Eintrag.Status === Const.Projektpunktstatustypen.Geschlossen.Name" (CheckChanged)="StatusCheckChanged($event, Eintrag)"></checkbox-clon>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </ng-container>
    </ng-container>


  </div>


  <!--

  <table *ngIf="Projekteliste.length > 0" style="width: 100%" class="paddingtable">
    <tr *ngFor="let zi of [].constructor(Zeilenanzahl); let Zeilenindex = index">
      <td *ngFor="let si of [].constructor(Spaltenanzahl); let Spaltenindex = index" [style.width.%]="100 /Spaltenanzahl">

        <ng-container *ngIf="CheckProjekt(Zeilenindex, Spaltenindex)">

          <div style="border: 2px solid gray; border-radius: 8px; padding: 4px; width: 100%">

            <table style="width: 100%">
              <tr>
                <td>

                    <table class="nobordertable" style="width: 100%">
                      <tr>
                        <td style="width: 40px;">
                          <div class="projecticonclass" [style.background]="DBProjekte.GetProjektfarbeByProjekt(Projekteliste[Zeilenindex][Spaltenindex])"></div>
                        </td>
                        <td style="width: auto;">
                          <ion-text color="baeblau" style="font-size: 120%"><b>{{GetProjektname(Zeilenindex, Spaltenindex)}}</b></ion-text>
                        </td>
                        <td style="width: 60px;">
                          <ion-button size="small" color="grau" (click)="AddAufgabeClicked(Projekteliste[Zeilenindex][Spaltenindex], Zeilenindex, Spaltenindex)">
                            <ion-icon name="add-circle-outline"></ion-icon>
                          </ion-button>
                        </td>
                      </tr>
                    </table>


                </td>
              </tr>
              <ng-container *ngIf="Schnellaufgabenliste[Projekteliste[Zeilenindex][Spaltenindex].Projektkey].length > 0">
                <tr>
                  <td>
                    <div style="width: 100%; height: 2px; background: gray;"></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="1" style="width: 100%">
                      <tr *ngFor="let Eintrag of Schnellaufgabenliste[Projekteliste[Zeilenindex][Spaltenindex].Projektkey]">
                        <td style="width: 70px;">{{GetDatum(Eintrag.Startzeitsptempel)}}</td>
                        <td style="width: 60px;">{{GetUhrzeit(Eintrag.Startzeitsptempel)}}</td>
                        <td style="width: auto" [innerHTML]="Eintrag.Aufgabe | safe: 'html'"></td>
                        <td style="width: 40px;">
                          <div class="statusdivclass" [style.background]="DBProjektpunkte.GetStatuscolor(Eintrag)">
                            <checkbox-clon [Checked]="Eintrag.Status === Const.Projektpunktstatustypen.Geschlossen.Name" (CheckChanged)="StatusCheckChanged($event, Eintrag)"></checkbox-clon>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </table>

          </div>

        </ng-container>

      </td>
    </tr>
  </table>
  -->

</ion-content>
<ion-footer>
  <page-footer #PageFooter>


  </page-footer>
</ion-footer>

<pj-schnellaufgabe-editor *ngIf="ShowEditor"
                          [Dialogbreite]="1000"
                          [Dialoghoehe]="540"
                          [ZIndex]="3000"
                          [PositionY]="200"
                          (CancelClickedEvent)="ShowEditor = false" (OkClickedEvent)="ShowEditor = false">
</pj-schnellaufgabe-editor>















